<div id="div1">@ViewData["div1"]</div>

@using (Ajax.BeginForm("Button", "Main", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div1" }))
{

    <input type="submit" value="btn1" name="action" />
}



<form id="testContainer">
        @using (Ajax.BeginForm("Button", "Main", new AjaxOptions
        {
            HttpMethod = "Post",
            UpdateTargetId = "testContainer",
            InsertionMode = InsertionMode.Replace,
      
        }))
        {
            <input type="" value="按钮" onclick="btnClick();" />
            <script>
                function btnClick() {
                    console.log("click...");

                    $("#testController").submit();
                }
            </script>

        }
        <div>@ViewData["div1"]</div>
    </form>
